<div class="container-fluid">
    <div class="row">
        <div class="col-12 header-container text-center">
            <h3>HELLO, HERE YOU CAN SEE ALL OF THE HEROES</h3>
        </div>
    </div>
    <div class="row">
            <mat-form-field class="col-12">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. superhero" #input>
            </mat-form-field>
    </div>

    <div class="row">
        <div class="col-12 mat-elevation-z8">
            <table mat-table [dataSource]="heroes" matSort>


                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>

               

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

               
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>
